.sp-dim {
	display:none;
}

.sp-overflow-hidden {
	overflow:hidden;
}

.sp-dim.sp-open {
	background:#000;
	bottom:0;
	display:block;
	left:0;
	opacity:0.8;
	position:fixed;
	right:0;
	top:0;
	z-index:1031;
}

.sp-panel {
	box-shadow:none;
	background:#FFF;
	display:block;
	overflow-x:auto;
	overflow-y:auto;
	pointer-events:all;
	position:fixed;
	transition:.2s ease-in-out;
	z-index:1032;
}

.sp-panel.sp-left, .sp-panel.sp-right {
	height:100%;
	top: 0;
}

.sp-panel.sp-top, .sp-panel.sp-bottom {
	width:100%;
	left: 0;
}